 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul style="font-size:25px">
                        <li>BS: Applied and Computational Mathematics, Brigham Young University '21</li>
                        <li>MS: Applied and Computational Mathmematics, Rochester Institute of Technology '23</li>
                        <li>Machine Learning Research Assistant, BYU Physics Department 2020-2021</li>
                        <li>Research Assistant for Swarm Dynamics, RIT 2022</li>
                        <li>Calculus Teaching Assistant, RIT 2021-2022</li>
                        <li>Machine Learning Scientist (intern): Nevada National Security Site, US Department of Energy 2020-2022</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class ="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul style="font-size:25px">
                        <li>Programming: C, C++, Python, Django, git, bash, HTML, etc. </li>
                        <li>Neural Network Engineering: Pytorch, Keras, Tensorflow</li>
                        <li>Algorithm Design</li>
                        <li>Mathematical Modeling</li>
                        <li>Computational Statistics</li>
                        <li>Swarm Dynamics</li>
                        <li>High Performance (cluster) Computing </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1PWJ-Q1y02hc2Z_SYuA9KvajM7duSz8Zv/view?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> See Full Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
